body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header h1 {
    text-align: center;
}

nav {
    color: #AF1B3F;
    display: flex;
    justify-content: flex-end;
    border: 10px double #EFC69B;
    font-size: larger;
    padding: 10px;
    margin-bottom: 20px;
}

nav a {
    margin: 0 10px;
    color: #AF1B3F;
    text-decoration: none;
}

#articles {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

article {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 20px;
    border-bottom: 1px solid #EFC69B;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.article > div {
    padding: 10px;
}

.date, .ages, .genre, .stars {
    text-align: right;
    font-size: 18px;
    line-height: 1.2; 
    border-right: 1px solid #EFC69B; 
    padding: 0 10px; 
    margin-bottom: 10px; 
}

.date {
    font-size: 20px; 
}

.title, .image, .description {
    grid-column: 2;
}

.title {
    font-size: 25px;
    margin-top: 5px; 
}

.image {
    text-align: center;
}

.image img {
    max-height: 300px;
    width: auto;
    display: block;
    margin: 0 auto; 
}

.blank-column {
    grid-column: 3;
}


article:last-child {
    margin-bottom: 0;
}

@media (max-width: 768px) {
    #articles {
        grid-template-columns: 1fr; 

    .article {
        grid-template-columns: 1fr; 
    }
    }
}